<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
</head>
<body class="main">
<h1 class="main-text">Генерация текста</h1>
<form method="post" action="/generate">
    <label class="title">Введите текст для генерации:</label><br>
    <div class="input">
        <textarea id="main-text" placeholder="Введите свой текст..." rows="3" cols="50"></textarea>
    </div>
    <div class="input">
        <div>
            <input type="radio" id="config1" name="config" value="intro">
            <label for="config1">Введение</label>
        </div>
        <div>
            <input type="radio" id="config2" name="config" value="annotation">
            <label for="config2">Аннотация</label>
        </div>
        <button class="move" type="submit">Сгенерировать</button>
    </div>
</form>
<div class="p">
    <p class="input p-style" id="final-text"></p>
</div>
<script src="main.js"></script>
</body>
</html>